[Unit]
Description=Legacy emulator startup script
DefaultDependencies=no
After=vconf-setup.service
Before=basic.target

[Service]
Type=oneshot

# execute prerun scripts.
# it is not necessary because it is already executed from initramfs.
# commented out for debugging.
#ExecStartPre=/bin/sh -c '. /etc/emulator/prerun'

# W/A for alarm-service
SmackProcessLabel=System
ExecStart=/bin/touch /dev/rtc1
ExecStartPost=/usr/bin/chsmack -a "_" /etc/config/model-config.xml

[Install]
WantedBy=emulator_preinit.target
